// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.flex-container {
  display: flex;
}

.teacher {
  flex: 1 0 50%;
}

#map {
  flex: 1 0 50%;
  width: 80%;
  position: sticky!important;
  top: 0;
}

.title {
  border: 1px solid rgb(240, 240, 240);
}

.container {
  background-color: white;
}

.wrapper {
  background-color: white;
}
