<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Off The Wagon</h1>
    <p>Ask a TA what the fuck is happening after Le Wagon is done!</p>
    <a class="btn btn-primary btn-lg">Search now</a>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <h1>Best Teachers</h1>
    <!-- List showing all teachers -->
    <div class="row">
      <% @teachers.each do |teacher| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="skills"><% TeacherSkill.where(teacher_id: teacher.id).each do |teacher_skill| %>
                <%= teacher_skill.skill.name %>
              <% end %>
            </div>

            <div class="card-description">
              <h2>
                Teacher Name
              </h2>

            </div>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="<%= teacher_path(teacher) %>" ></a>
          </div>
        </div>
      <% end %>
    </div>

    <!-- List showing all Skills -->
    <h1>Most searched for Skills</h1>
    <ul>
      <div class="row">
        <% @skills.each do |skill| %>
          <div class="col-xs-4">
            <li>
              <%= skill %>
            </li>
          </div>
      <% end %>
      </div>
    </ul>

    <!-- End of list showing all Skills -->


  </div>
</div>
