<div class="wrapper">
  <div class="container">
    <!-- Container Start -->

    <h1>Select the teacher you would like to book:</h1>

    <!-- Beginning of Teacher Card -->
    <div class="row">
      <% if params[:query].present? %>
        <% @selected_teachers = Teacher.pg_search(params[:query]) %>
      <% else %>
        <% @selected_teachers = @teachers %>
      <% end %>

      <% @selected_teachers.each do |teacher| %>
      <div class="col-xs-4">
        <% skills = TeacherSkill.where(teacher_id: teacher.id) %>
        <% top_skill = skills.order('level DESC').first.try(:name) %>

        <div class="card <%= top_skill %>">

            <div class="skills">
             <%= top_skill %>
           </div>

           <div class="card-description">
            <h2>
              <%= teacher.full_name %>
            </h2>
          </div>
          <img class="avatar" src="https://avatars2.githubusercontent.com/u/22443485?s=460&v=4">
          <a class="card-link" href="<%= teacher_path(teacher) %>" ></a>
        </div>
      </div>
      <% end %>
    </div>
    <!-- End of Teacher Card -->


    <!-- Container end -->
  </div>
</div>
