.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: contain !important;
  background-position: center;
  position: relative;
  margin: 5px 0 5px 0;
  box-shadow: 2px 2px 2px black;
  border: solid 1px black;
  background-color: rgb(250, 250, 250);
}

.card:hover {
  margin: 0 0 10px 0;
  background-size: cover !important;
}

.ruby {

}

.swift {

}

.c {

}

.javascript {

}

.python {

}

.no_skill {
  background-color: white;
}

.card:hover {
  box-shadow: 4px 4px 4px rgb(116, 163, 156);
  border-style: none;
}

.avatar {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  border-radius: 50%;
}

.card:hover .avatar {
  width: 70px;
}

.skills {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  max-width: 75%;
  overflow: hidden;
}

.card:hover .skills {
  font-size: 17px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}

.card:hover .card-description h2 {
  font-size: 28px;
}
// .card-description {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: bold;
//   color: white;
// }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0.2;
}
.card-link:hover {
  opacity: 0;
}
