.card {
  // height: 175px;
  position: relative;
  margin: 10px 0 10px 0;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 8px;
  z-index: 1;
  background-color: white;
  color: black;

  .block-1 {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
  }
  &:hover .block-1 {
    opacity: 1;

  }
}

a:link, a:visited {

    text-decoration: none;
}

.ruby, .swift, .c, .javascript, .python {
  width: 80px;
  height: 80px;
}


.ruby  {

  background-image: image-url('ruby-plain.svg');
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;

}

.swift {

    background: image-url('swift-original.svg');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}



.c {

  background-image: image-url('c-plain.svg');
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;

}

.javascript {

  background-image: image-url('javascript-plain.svg');
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
}

.python {

  background-image: image-url('python-plain.svg');
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;

}

.nil {

  background-image: image-url('logo.png'), linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;

}

.card:hover {
  box-shadow: 1.5px 1.5px 1.5px rgba(116, 116, 116, 0.4);
  transition: box-shadow 0.25s;
}

.avatar {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 48px;
  height: 48px;
  transition: width 0.25s, height 0.25s;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  object-fit: cover;
  opacity: 0.85;
}


.skills {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  max-width: 75%;
  overflow: hidden;
}


.card-description {
  background-color: #F9F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 18px;
  border-radius: 0px 0px 8px 8px;
  text-decoration: none;
}
.card-description h2 {
  font-size: 24px;
  text-decoration: none;
}

.card:hover .card-description h2 {
  font-size: 25px;
  transition: font-size 0.25s;
  text-decoration: none;
}

