.profile_card {
  text-align: center;
}

.profile_card .profile_photo {
  max-height: 60vh;
  border: 1px solid black;
  box-shadow: 4px 4px 4px black;
}

h4.skill {
  margin-top: 20px;
  text-decoration: underline;
}

.profile_card p {
  font-size: 20px;
}
